//META{"name":"sweety-discord3","description":"guthub.com/pr1nce55","author":"pr1nce55","version":"3"}*//
@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
:root {
--primary: rgba(245,137,222,0.95);
--primaryGradient2: rgba(249,118,182,0.9);
--backgroundDark: rgba(55,62,77,0.95);
--backgroundDarker: rgba(59,66,82,0.6);
}