//META{"name":"sweety-discord-light","description": "Sweety Discord but light","author":"maccree","version":"v0.1"}*//
@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
:root {
--primary: #F877B9;
--primaryGradient2: #EA8CEF;
--backgroundDark: #F9F9F9;
--backgroundDarker: #89CCF7;
}
