//META{"name": "Sweety Discord","description":"github.com/maccree/Sweety-discord","author":"maccree","version":"0.1"}*//
@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
:root {
--primary: #CF8EF4;
--primaryGradient2: #63C5EA;
--backgroundDark: #373E4D;
--backgroundDarker: rgba(20,23,31,0.95);

--HSL-server-icon-size: 32px;
--HSL-server-spacing: 7px;
}
