configuration {
  show-icons:         true;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    true;
  sidebar-mode:       false;
  modi:               "drun,run,window";
  display-drun:       "Apps";
  display-run:        "Run";
  display-window:     "Running Apps";
  columns: 3;
}
