configuration {
  show-icons:         true;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    true;
  sidebar-mode:       false;
  modi:               "drun,run,window";
  display-drun:       "";
  display-run:        "";
  display-window:     "";
  columns: 3;
}
