[Desktop Entry]
Comment=Play music on Ncmpcpp
Terminal=false
Name=Ncmpcpp
GenericName=Music Player
Categories=AudioVideo;Audio;Player;
Exec=bash -c "$HOME/.scripts/default-apps/launch terminal -e ncmpcpp && exit 0"
Type=Application
Icon=musique
