[Desktop Entry]
Comment=Play music on NCMPCPP Visualizer Screen with Album Art
Terminal=false
Name=NCMPCPP Viz Album Art
Categories=AudioVideo;Audio;Player;
Exec=bash -c '~/.ncmpcpp/launch/ncmpcpp-album-viz'
Type=Application
Icon=mpd
