[Desktop Entry]
Comment=Play music on Ncmpcpp
Terminal=false
Name=Ncmpcpp
GenericName=Music Player
Categories=AudioVideo;Audio;Player;
Exec=sh -c "exec ${HOME}/.config/ncmpcpp/scripts/launcher.sh"
Type=Application
Icon=musique
