[Desktop Entry]
Comment=Play music on Ncmpcpp only show Album Art
Terminal=false
Name=Ncmpcpp - Single Album Art
GenericName=Music Player: URxvt
Categories=AudioVideo;Audio;Player;
Exec=bash -c "$HOME/.ncmpcpp/launch single-albumart"
Type=Application
Icon=musique
