[Desktop Entry]
Comment=Play music on NCMPCPP with Album Art and Vizualizer
Terminal=false
Name=NCMPCPP Album Art and Vizualizer
Categories=AudioVideo;Audio;Player;
Exec=bash -c '~/.ncmpcpp/launch/ncmpcpp-album-viz'
Type=Application
Icon=mpd
