[Desktop Entry]
Comment=Play music on Ncmpcpp with Album Art
Terminal=false
Name=Ncmpcpp - Album Art
GenericName=Music Player: URxvt
Categories=AudioVideo;Audio;Player;
Exec=bash -c "$HOME/.ncmpcpp/launch albumart"
Type=Application
Icon=musique
