# Nano text-editor initialization.
# https://github.com/owl4ce/dotfiles

# OPTIONS
# ---
set autoindent
#set casesensitive
set guidestripe 72
set linenumbers
#set mouse
set noconvert
#set nohelp
set softwrap
set tabsize 4
set tabstospaces

# COLOR SCHEMES
# ---
set functioncolor white
set keycolor blue
set numbercolor white
set statuscolor magenta
set stripecolor ,black
set titlecolor black,red

# SYNTAX HIGHLIGHTING
# ---
#include "~/.nano/*.nanorc"
